/* For desktop: */
@media only screen and (min-width: 768px) {
  .listing-item-container:first-child {
    margin-top: -20px !important;
  }
  .listing-item-container:last-child {
    margin-bottom: 0 !important;
  }

  .listing-item-container {
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
  }

  .coupon-listing-container a {
    text-decoration: none;
    color: inherit;
  }

  .deal-percentage {
    width: 9%;
    min-width: 100px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .deal-percentage a {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  .deal-percentage-amount {
    color: #009700;
    font-size: 35px;
    padding: 34px 0;
    font-weight: 600;
  }

  .deal-type {
    border-top: 1px solid #e3e3e3;
    align-items: center;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-size: 12px;
    width: 100%;
  }

  .deal-details {
    width: 75%;
    padding: 15px;
    margin-left: 20px;
    font-size: 16px;
    margin-top: 5px;
  }

  .deal-details .deal-title {
    font-size: 20px;
    font-weight: 700;
    /* margin-bottom: 5px; */
    /* display: inline-block; */
  }

  .deal-pricing-container {
    margin: 5px 0;
  }

  .deal-discounted-price {
    color: #eb0909;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
  }

  .deal-original-price {
    color: #333;
    opacity: 0.4;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
  }

  .deal-discount-percentage-hightlight {
    color: white;
    background-color: #eb0909;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 3px;
    margin-left: 10px;
  }

  .deal-cta-options {
    /* width: 15%; */
    padding: 10px;
    margin: auto 0;
  }

  .deal-cta-btn {
    background-color: #ffc000;
    color: black;
    padding: 10px 30px;
    font-weight: 550;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: 0.5px;
    translate: all 1s;
  }

  .deal-cta-btn:hover {
    transform: scale(1.02);
    translate: all 1s;
  }

  .deal-coupon-code-container {
    margin-top: 15px;
    padding: 8px 0;
    border-radius: 5px;
    color: green;
    text-align: center;
    border: dashed 1px green;
    background-color: rgb(233, 255, 221);
    transform: scale(1.01);
  }

  .deal-coupon-code-container:hover {
    transform: scale(1.01);
    translate: all 1s;
  }

  .deal-coupon-code-copied {
    background-color: rgb(88 196 40);
    border: dashed 1px green;
    color: white;
  }

  .deal-coupon-code {
    display: inline-block;
  }

  .deal-copy-icon {
    margin-left: 7px;
    width: 22px;
    margin-bottom: -6px;
    cursor: pointer;
    translate: all 1s;
  }

  .deal-copy-icon:hover {
    transform: scale(1.1);
    translate: all 1s;
  }

  .deal-without-price {
    margin-left: 0;
  }
}
